<mat-card>
  <h2>Sign In</h2>
  <mat-card>
    <div><input #email id="email" type="email" placeholder="Email"></div>
    <div><input #password id="password" type="password" placeholder="Password" (keyup.enter)="onLoginClick(email.value, password.value)"></div>
    <button mat-button (click)="onLoginClick(email.value, password.value);">Log In</button>
    <button mat-button (click)="resetPassword();">Forgot Password</button>
  </mat-card>
  <mat-card>
    <h3>Or Register</h3>
    <div><input #regEmail id="login-email" type="email" placeholder="Email" (keyup.enter)="onRegisterClick(regEmail.value)"></div>
    <button mat-button (click)="onRegisterClick(regEmail.value)">Submit</button>
  </mat-card>
</mat-card>