<div class="view">
  <div class="view-contents">
    <div class="section">
      <div class="section-title"><span>Sign In</span></div>
      <div class="section-element">
        <input #email id="email" type="email" placeholder="Email">
      </div>
      <div class="section-element">
        <input #password id="password" type="password" placeholder="Password" (keyup.enter)="onLoginClick(email.value, password.value)">
      </div>
    </div>
    <div class="section section-inline">
      <div class="section-element">
        <div class="ctrl-btn ctrl-btn-enabled">
          <div class="noselect" (click)="onLoginClick(email.value, password.value)">Log In</div>
        </div>
      </div>
      <div class="section-element">
          <div id="forgot-lnk" (click)="resetPassword()">Forgot Password</div>
      </div>
    </div>

    <div class="section">
      <div class="section-title"><span>Or Register</span></div>
      <div class="section-element">
        <input #regEmail id="login-email" type="email" placeholder="Email" (keyup.enter)="onRegisterClick(regEmail.value)">
      </div>
      <div class="section-element">
        <div class="ctrl-btn ctrl-btn-enabled">
          <div class="noselect" (click)="onRegisterClick(regEmail.value)">Submit</div>
        </div>
      </div>
    </div>

  </div>
</div>