.view {
	max-height: 90vh;

	overflow-y: auto;

	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 35px auto 50px;
	grid-row-gap: 2px;
	grid-template-areas: 
		"view-header"
		"view-contents"
		"view-footer";
}

.view-header {
	margin-top: 5px;

	grid-area: view-header;
}

.view-header span {
	margin-left: 5px;

	color: #ff3333;
	text-shadow: 1px 1px #000000;
	font-size: 26px;

	cursor: default;
}

.view-contents {
	grid-area: view-contents;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	
	flex-flow: column nowrap;
	justify-content: flex-start;
}

.view-footer {
	grid-area: view-footer;
}

/* Section Specific Styles */
.section {
	min-width: 425px;
	margin: 5px 0 0 10px;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	
	flex-flow: column nowrap;	
}

.section-inline {
	flex-flow: row nowrap;
}

.section-title {
	height:25px;
}

.section-title span {
	color: #ff6666;
	text-shadow: 1px 1px #000000;
	font-size: 18px;
}

.section-note {
	height: 20px;
}

.section-note span {
	font-size: 14px;
}

.section-element {
	margin-left: 5px;
	margin-bottom: 5px;
}

.section-element-indented {
	margin-left: 10px;
}

/* Button Styling */
.ctrl-btn {
	width:  100px; 
	min-height: 20px;
	max-height: 44px;

	text-align: center;
}

.ctrl-btn-enabled {
	-webkit-border-radius: 5;
	-moz-border-radius: 5;
	border-radius: 5px;
	border: #777777 1px solid;
	
	-webkit-box-shadow: 0 3px 0 #84261a;
	-moz-box-shadow: 0 3px 0 #84261a;
	box-shadow: 0 3px 0 #84261a;

	font-family: Arial;
	color: #ffffff;
	font-size: 17px;

	background: #ff3333;
	text-decoration: none;

	cursor: pointer;
	
	position: relative;
}

.ctrl-btn-enabled:hover {
	background: #ff6666;
	text-decoration: none;
}

.ctrl-btn-enabled:active {
	-webkit-box-shadow: 0 1px 0 #84261a;
	-moz-box-shadow: 0 1px 0 #84261a;
	box-shadow: 0 1px 0 #84261a;
	
	top: 2px;
}

.ctrl-btn-disabled {
	-webkit-border-radius: 5;
	-moz-border-radius: 5;
	border-radius: 5px;
	border: solid #777777 1px;  

	font-family: Arial;
	color: #ffffff;
	font-size: 17px;
	cursor: default;
	background: #ff6666;
	text-decoration: none;
}