<div class="view">
  <div class="view-header">
    <span>Restraint Information</span>
  </div>
  <div class="view-contents">
	<div class="section">
		<div class="section-element">
			<label>Manufacturer:<input type="text"></label> 
		</div>	
		<div class="section-element">
			<label>Model:<input type="text"></label> 
		</div>	
		<div class="section-element">
			<label>Model Number:<input type="text"></label> 
		</div>	
		<div class="section-element">
			<label>Manufacture Date:<input type="date"></label> 
		</div>	
		<div class="section-element">
			<label>Expiry Date:<input type="date"></label> 
		</div>	


		<div class="section-element">
			<label>Instructions:</label> 
			<select>
				<option value="Unknown" selected>Unknown</option>
				<option value="With Seat">With Seat</option>
				<option value="At Home">At Home</option>
				<option value="No">No</option>
			</select>
		</div>	
		<div class="section-element">
			<label>Original Owner:</label> 
			<select>
				<option value="Yes">Yes</option>
				<option value="No">No</option>
				<option value="Unknown" selected>Unknown</option>
			</select>
		</div>
		<div class="section-element">
			<label>Involved in collision:</label> 
			<select>
				<option value="Yes">Yes</option>
				<option value="No">No</option>
				<option value="Unknown" selected>Unknown</option>
			</select>
		</div>
		<div class="section-element">
			<label>Warranty card sent in:</label> 
			<select>
				<option value="Yes">Yes</option>
				<option value="No">No</option>
				<option value="Unknown" selected>Unknown</option>
			</select>
		</div>
		<div class="section-element">
			<label>Meets C.M.V.S.S:</label> 
			<select>
				<option value="Yes">Yes</option>
				<option value="No">No</option>
				<option value="Unknown" selected>Unknown</option>
			</select>
		</div>
		<div class="section-element">
			<label>Public Notice:</label> 
			<select>
				<option value="fixed">Yes - fixed</option>
				<option value="not-fixed">Yes - not fixed</option>
				<option value="no">No</option>
				<option value="unknown" selected>Unknown</option>
			</select>
			<a id="restraint-notice-check" target="_blank" href="http://www.tc.gc.ca/eng/motorvehiclesafety/safedrivers-childsafety-notices-menu2-910.htm#">Check Transport Canada</a>
		</div>
		<div class="section-element">
			<label>Type:</label> 
			<select>
				<option value="unk" selected>---</option>
				<option value="io">Infant Only</option>
				<option value="ic">Infant/Child</option>
				<option value="i">Integrated</option>
				<option value="cb">Child/Booster</option>
				<option value="b">Booster</option>
				<option value="icb">Infant/Child/Booster</option>
			</select>
		</div>
		<div class="section-element">
			<label>Ok Handle Positions:<input type="text"></label>
		</div>
		<div class="section-element">																		
			<label>UAS borrowing with vehicle:</label> 
			<select>
				<option value="Unknown" selected>Unknown</option>
				<option value="Allowed">Allowed</option>
				<option value="Not Allowed">Not Allowed</option>
				<option value="N/A">N/A</option>
			</select>
		</div>
	</div>
</div>