<div class="view-contents">
  <div class="list">
    <div class="list-row list-header">
      <div class="list-col">Date</div>
      <div class="list-col">Client</div>
      <div class="list-col">Vehicle</div>
      <div class="list-col">Seat</div>
      <div class="list-col">Status</div>
    </div>
    <div class="list-row">
      <div class="list-col">2017-06-02</div>
      <div class="list-col">Lindsay Wilson</div>
      <div class="list-col">Honday Oddessey</div>
      <div class="list-col">Clek Seat</div>
      <div class="list-col">Active</div>
    </div>
  </div>
</div>