<div class="view">
  <div class="address-bar">
    <label>Location: 
      <input #search id="address" type="textbox" placeholder="Search" (keyup.enter)="searchAddress(search.value)">
    </label>
    <input type="button" value="Go!" (click)="searchAddress(search.value)">
  </div>
  <div class="map">
    <agm-map [latitude]="currentPosition.lat" [longitude]="currentPosition.lng">
      <map-markers (markerManager)="setMarkerManager($event)" (markers)="setMarkers($event)">
        <agm-marker *ngFor="let tech of techList.techs" [latitude]="tech.mapEntry.geoLat" 
                                                        [longitude]="tech.mapEntry.geoLng" 
                                                        [iconUrl]="'assets/map/pale_blue.png'" 
                                                        [title]="tech.profile.name" 
                                                        (markerClick)="selectTech(tech);">
        </agm-marker>
      </map-markers>
    </agm-map>
  </div>
</div>