.container {
	height: 100vh;
	margin: 1px;
	background-color: #000000;

	display: grid;
	grid-template-rows: 75px auto;
	grid-row-gap: 1px;
	grid-template-areas: 
		"header"
		"content"
}

.header {
	background-color: #CC7777;

	grid-area: header;
}

.content {
	grid-area: content;
}