<mat-card>
  <mat-card-title>Set Password</mat-card-title>
  <mat-list>
    <mat-list-item>
      <mat-form-field>
        <input matInput #password type="password" placeholder="Password" (keyup)="isPasswordValid(password.value)">
      </mat-form-field>
      <img class="indicator" [class.valid]="passwordValid" alt="Password Indicator" />
    </mat-list-item>
    <mat-list-item>
      <mat-form-field>
        <input matInput #confirmation type="password" placeholder="Confirm Password" (keyup)="isPasswordMatch(password.value, confirmation.value)"
          (keyup.enter)="onSubmitClick(password.value, confirmation.value)">
      </mat-form-field>
      <img class="indicator" [class.valid]="passwordMatch" alt="Confirmation Indicator" />
    </mat-list-item>
  </mat-list>
  <mat-card-actions>
    <button mat-raised-button [disabled]="!passwordMatch" (click)="onSubmitClick(password.value, confirmation.value)">Submit</button>
    <button mat-raised-button (click)="onCancelClick()">Cancel</button>
  </mat-card-actions>
</mat-card>