.view {
	grid-template-rows: auto;
	grid-template-areas: 
		"view-contents";
}

.view-contents {
	flex-flow: column nowrap;
	justify-content: flex-start;
}

.section-element input {
	width: 200px;
}

.indicator {
	content: url("/assets/red-light.png");

	height: 10px;
	width: 10px;
	margin-top: 1px;
}

.valid {
	content: url("/assets/green-light.png");
}