<mat-card>
    <mat-card>
      <div>New Password</div>
      <div>
          <input #password type="password" placeholder="Password" (keyup)="isPasswordValid(password.value)">
          <img class="indicator" [class.valid]="passwordValid" alt="Password Indicator" />
      </div>
      <div>
          <input #confirmation type="password" placeholder="Confirm Password" (keyup)="isPasswordMatch(password.value, confirmation.value)">
          <img class="indicator" [class.valid]="passwordMatch" alt="Confirmation Indicator" />
      </div>
    </mat-card>
    <mat-card>
      <div>
        <button mat-button [disabled]="!passwordMatch" (click)="onSubmitClick(password.value, confirmation.value)">Submit</button>
        <button mat-button (click)="onCancelClick()">Cancel</button>
      </div>
    </mat-card>
  </mat-card>