.section-element input {
	width: 200px;
}

.indicator {
	background: url("/assets/red-light.png");

	max-width: 15px;
	height: auto;

	vertical-align: middle;
}

.valid {
	background: url("/assets/green-light.png");
}