<mat-card>
    <mat-card-title>CPSAC has a new site!</mat-card-title>
    <mat-card-content>
        We are pleased to share with everyone the news that CPSAC has developed a brand new website that
        now includes a built in "Find-A-Tech" map. The new site looks amazing and has the support needed
        to take on the maintenance for this important service. 
        <br><br>
        It's been a privilege over the years to help support all of the hardworking techs and are fully 
        confident the integrated map is the right way to go. Please go <a href="https://www.cpsac.org/">HERE</a> and take a look. If you are 
        a CPSAC certified tech you can sign up for the new map by following these steps:
        <mat-list>
            <mat-list-item>1. Click <span class="bolded">Member Login</span> at the top right.</mat-list-item>
            <mat-list-item>2. Scroll down and click <span class="bolded">Your Password</span>.</mat-list-item>
            <mat-list-item>3. Enter the username you have on file with CPSAC OR the email address where you receive CPSAC newsletters.</mat-list-item>
            <mat-list-item>4. Check your e-mail for the confirmation link to reset your password (this may take up to 15 minutes).</mat-list-item>
            <mat-list-item>5. Follow the instructions in the email to reset your password.</mat-list-item>
            <mat-list-item>6. In the top right corner you will see <span class="bolded">Members</span> on the menu bar. Click it to open the members only menu.</mat-list-item>
        </mat-list>
        If you run into problems or have any questions you can reach out for help by <a href="mailto:registration@cpsac.org">email</a>.
    </mat-card-content>
</mat-card>