.full {
	height: 100%;
	background-color: #FFFFFF;

	display: grid;
	grid-template-columns: 150px auto;
	grid-template-rows: 100px auto;
	grid-template-areas: 
		"filter right"
		"list right";

	position: relative;
}

.org-logo {
	position: absolute;
	right: 25px;
	top: -65px;
}

.org-logo img {
	max-height: 50px;
}

.filter {
	grid-area: filter;
}

.list {
	grid-area: list;
}

.right {
	grid-area: right;
}