#banner-logo {
	max-height: 60px;
	max-width: 60px;

	padding-left: 30px;	
	padding-right: 10px;
}

#banner-name {
	font-size: 20px;	
	letter-spacing: -1px;

	color: white;
	text-shadow: 2px 2px #000000;
}

.logo-spacer {
	flex: 1 1 auto;
  }

.org-logo {
	position: relative;
	top: 3px;
}

.org-logo img {
	max-height: 50px;
}