<form [formGroup]="form" novalidate>
  <mat-card class="main-card">
    <mat-card formGroupName="profile">
      <mat-card-title>General Information</mat-card-title>
      <mat-list>
        <mat-list-item>
          <mat-form-field>
            <input matInput type="email" placeholder="Email" formControlName="email" required>
          </mat-form-field>
        </mat-list-item>
        <mat-list-item>
          <mat-form-field>
            <input matInput type="text" placeholder="Name" formControlName="name" required>
          </mat-form-field>
        </mat-list-item>
      </mat-list>
      <section formGroupName="cert">
        <h3>Certification</h3>
        <mat-list>
          <mat-list-item>
            <mat-form-field>
              <mat-select formControlName="org" placeholder="Organization">
                <mat-option *ngFor="let org of certList.orgs" [value]="org">{{org}}</mat-option>
              </mat-select>
            </mat-form-field>
          </mat-list-item>
          <mat-list-item>
            <mat-form-field>
              <mat-select formControlName="type" placeholder="Certificate">
                <mat-option *ngFor="let type of certList.types" [value]="type">{{type}}</mat-option>
              </mat-select>
            </mat-form-field>
          </mat-list-item>
          <mat-list-item>
            <mat-form-field>
              <input matInput type="date" formControlName="certDate" placeholder="Expiry Date">
            </mat-form-field>
          </mat-list-item>
          <mat-list-item *ngIf="certValid == false">
            <span class="cert-verification-msg">{{certVerificationMsg}}</span>
          </mat-list-item>
        </mat-list>
      </section>
    </mat-card>
    <mat-card formGroupName="mapEntry">
      <mat-card-title>Map Entry</mat-card-title>
      <mat-checkbox formControlName="public">Public Entry</mat-checkbox>
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <mat-checkbox formControlName="displayEmail">
              <mat-form-field>
                <input matInput type="email" placeholder="Email" formControlName="email">
              </mat-form-field>
            </mat-checkbox>
          </mat-list-item>
          <mat-list-item>

            <mat-checkbox formControlName="displayPhone">

              <mat-form-field>
                <input matInput type="tel" placeholder="Phone" formControlName="phone">
              </mat-form-field>
              <mat-form-field>
                <input matInput type="tel" placeholder="Alternate" formControlName="phone2">
              </mat-form-field>
            </mat-checkbox>
          </mat-list-item>
          <mat-list-item>

            <mat-checkbox formControlName="displayWebsite">
              <mat-form-field>
                <input matInput type="url" placeholder="Website" formControlName="websiteURL">
              </mat-form-field>
              <mat-form-field>
                <input matInput type="text" placeholder="Title" formControlName="websiteName">
              </mat-form-field>
            </mat-checkbox>
          </mat-list-item>
        </mat-list>
        <section>
          <mat-form-field>
            <input matInput #mapSearch type="text" placeholder="Pin Location" (keyup.enter)="searchAddress(mapSearch.value)">
          </mat-form-field>
          <button mat-mini-fab (click)="searchAddress(mapSearch.value)">Go!</button>
          <div>
            <agm-map [latitude]="currentPosition.lat" [longitude]="currentPosition.lng">
              <agm-marker [latitude]="currentPosition.lat" [longitude]="currentPosition.lng"></agm-marker>
            </agm-map>
          </div>
        </section>
      </mat-card-content>
    </mat-card>
    <mat-card-actions>
      <button mat-raised-button [disabled]="unsavedChanges == false" (click)="saveBtnClicked()">Save</button>
      <button mat-raised-button (click)="revertBtnClicked()">Revert</button>
    </mat-card-actions>
  </mat-card>
</form>