<nav class="menu">
  <div class="menu-item" *ngFor="let item of menu.menuItems">
    <div class="menu-item-btn" 
         [class.active]="(item.route != '') && currentRoute.includes(item.route)"
         (click)="onClick(item);">
      <span>{{item.display}}</span>
    </div>
    <div *ngIf="item.subItems && currentRoute.includes(item.route)" class="submenu">
      <div class="menu-subitem" 
          *ngFor="let subItem of item.subItems" 
          (click)="onClick(subItem);">
        <span>{{subItem.display}}</span>
      </div>
    </div>
  </div>
</nav>